{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <h2>Car Parts Dealer</h2>
</div>
	  <hr>
      {% for bought in boughtItems %}
	  <div class="row">
	      
		  <div class="col-md-2">
		   <h5 class="card-title">{{ bought.name }}</h5>
		  </div>
		  
      </div>  
	  {% endfor %}
	  <hr>
	  <div class="row">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Informacje o aplikacji</h3>
      <ul>
        <li>Kod aplikacji jest dostępny w serwisie GitHub</li>
        <li>Aplikacja umożliwia dodanie do koszyka a następnie zakup części samochodowych</li>
      </ul>
    </div>
{% endblock %}
