{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <h2>Car Parts Dealer</h2>
</div>
	  <hr>
      {% for cart in cartItems %}
	  <div class="row">
	      
		  <div class="col-md-2">
		   <h5 class="card-title">{{ cart.name }}</h5>
		  </div>
		  <div class="col-md-2">
		   <h5 class="card-title">{{ cart.price }}</h5>
		  </div>
      </div>  
	  {% endfor %}
	  <div class="row">
	      <p>Cena: 0.0</p>
      </div> 
	  <div class="row">
	  <div class="col-md-2">
		  <form action="/bought/post" method="post">
		   {% csrf_token %}
		   <button type="submit" class="btn btn-primary">Kup</button>
				</form>
		  </div>
		 </div>
	  <hr>
	  <div class="row">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Informacje o aplikacji</h3>
      <ul>
        <li>Kod aplikacji jest dostępny w serwisie GitHub</li>
        <li>Aplikacja umożliwia dodanie do koszyka a następnie zakup części samochodowych</li>
      </ul>
    </div>
{% endblock %}
