{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <h2>Car Parts Dealer</h2>
</div>
  <div class="row">
	      <div class="col-md-2">
		   <b><p>Zdjęcie</p></b>
		  </div>
		  <div class="col-md-2">
		   <b><p>Nazwa</p></b>
		  </div>
		  <div class="col-md-2">
		   <b><p>Opis</p></b>
		  </div>
		  <div class="col-md-2">
		   <b><p>Pozostało sztuk</p></b>
		  </div>
		  <div class="col-md-2">
		   <b><p>Cena</p></b>
		  </div>
		  <div class="col-md-2">
		   
		  </div>
      </div> 
	  <hr>
      {% for part in parts %}
	  <div class="row">
	      <div class="col-md-2">
		   <img class="card-img-top" width="200" height="150" src="{% static part.image %}">
		  </div>
		  <div class="col-md-2">
		   <h5 class="card-title">{{ part.name }}</h5>
		  </div>
		  <div class="col-md-2">
		   <p class="card-text">{{ part.description }}</p>
		  </div>
		  <div class="col-md-2">
		   <p class="card-text">{{ part.itemsLeft }}</p>
		  </div>
		  <div class="col-md-2">
		   <p class="card-text">{{ part.price }}</p>
		  </div>
		  <div class="col-md-2">
		  <form action="/cart/{{part.pk}}/" method="post">
		   {% csrf_token %}
		   <button type="submit" class="btn btn-primary">Dodaj do Koszyka</button>
				</form>
		  </div>
      </div>  
	  {% endfor %}
	  <hr>
	  <div class="row">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Informacje o aplikacji</h3>
      <ul>
        <li>Kod aplikacji jest dostępny w serwisie GitHub</li>
        <li>Aplikacja umożliwia dodanie do koszyka a następnie zakup części samochodowych</li>
      </ul>
    </div>
{% endblock %}
